body {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100vh;
  width: 100vw;
}

#headerArea {
  background-color: #141414;
  color: white;
  padding: 0 3em 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logoArea {
  width: 15%;
  text-align: center;
}

#logo {
  height: 4em;
  width: 8em;
  border: 3px solid #c8a461;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 1.5em auto 1em auto;
  max-width: 100%;
}

.logoText {
  max-width: 100%;
  overflow-x: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
  color: #c8a461;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

#rightSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 5px 0 0px 0;
}

#worldBar {
  width: 100%;
  height: 50%;
  text-align: right;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 0.875em;
}

#world {
  border: 1px solid rgba(200, 164, 97, 0.4);
  border-top: none;
  padding: 4px 2px 2px 2px;
  color: #c8a461;
}

.icon {
  margin-right: 1em;
}

.hoverGold:hover {
  color: #c8a461;
  cursor: pointer;
  transition: 0.25s;
}

#sponsors {
  height: 50%;
  margin-right: -25px;
}

.tabText {
  margin: 2em;
}

#sponsorsList {
  list-style-type: none;
  display: flex;
}

#sponsorsList > li {
  display: inline;
}

.sponsor {
  max-width: 50%;
  margin: auto 5px auto 5px;
  border-radius: 50%;
  cursor: pointer;
}

#world2 {
  position: fixed;
  top: 1.15em;
  right: 4em;
  opacity: 0;
  list-style-type: none;
  z-index: -100;
}

#world2:hover {
  opacity: 1;
  z-index: 1;
}

#world2 > li {
  padding: 15px 15px 15px 0px;
  background-color: #141414;
  border-bottom: 1px solid white;
  width: 100%;
}

#world:hover + #world2 {
  opacity: 1;
  transition: 0.3s;
  z-index: 1;
}

#topArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#navArea {
  display: flex;
  justify-content: space-between;
}

#navList {
  list-style-type: none;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.navItem {
  display: inline;
  margin: auto 1em auto 1em;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 1em;
  border-bottom: solid rgba(200, 164, 97, 0);
  transition: 0.25s;
}

.navItem:nth-child(2) {
  color: #c8a461;
}

.navItem:hover {
  border-bottom: solid rgba(200, 164, 97, 1);
}

.navItem:nth-child(1) {
  border-bottom: solid rgba(200, 164, 97, 1);
}

#search {
  padding: 0 1em 0 1em;
  padding-top: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  color: #c8a461;
  transition: 0.25s;
}

#search:hover {
  color: #919191;
}

#newsList {
  position: fixed;
  top: 13.6em;
  left: 1.5em;
  opacity: 0;
  list-style-type: none;
  z-index: -100;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

#newsList:hover {
  opacity: 1;
  z-index: 1;
}

#newsNav:hover + #newsList {
  opacity: 1;
  transition: 0.3s;
  z-index: 1;
}

.navListItem {
  padding: 15px;
  background-color: #141414;
  width: 100%;
}
