body {
  margin: 0;
  padding: -10em;
  font-family: "Nunito Sans", sans-serif;
}

#headerArea {
  background-color: #141414;
  color: white;
  padding: 0 3em 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#logoArea {
  width: 15%;
  text-align: center;
}

.logo {
  height: 4em;
  width: 8em;
  border: 3px solid #c8a461;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 1.5em auto 1em auto;
  max-width: 100%;
}

.logoText {
  max-width: 100%;
  overflow-x: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
  color: #c8a461;
  font-weight: bold;
}

#rightSide {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0.25em 0 0 0;
}

#worldBar {
  width: 100%;
  height: 50%;
  text-align: right;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 0.875em;
}

#world {
  border: 1px solid rgba(200, 164, 97, 0.4);
  border-top: none;
  padding: 0.4em 0.2em 0.2em 0.2em;
  color: #c8a461;
}

.icon {
  margin-right: 1em;
}

.hoverGold:hover {
  color: #c8a461;
  cursor: pointer;
  transition: 0.25s;
}

#sponsors {
  height: 50%;
  margin-right: -1.5em;
}

.tabText {
  margin: 2em;
}

#sponsorsList {
  list-style-type: none;
  display: flex;
  margin-top: -1em;
  height: 100%;
}

#sponsorsList > li {
  display: inline;
}

.sponsor {
  max-width: 50%;
  margin: auto 1em auto 1.5em;
  border-radius: 50%;
  cursor: pointer;
}

#world2 {
  position: fixed;
  top: 0.9em;
  right: 4em;
  opacity: 0;
  list-style-type: none;
  z-index: -1;
}

#world2:hover {
  opacity: 1;
  z-index: 1;
}

.worldListItem {
  padding: 1em 1em 1em 0;
  background-color: #141414;
  border-bottom: 1px solid white;
  width: 100%;
}

.worldListItem:last-of-type {
  border-bottom: none;
}

#world:hover + #world2 {
  opacity: 1;
  transition: 0.3s;
  z-index: 1;
}

#topArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#navArea {
  display: flex;
  justify-content: space-between;
}

#navList {
  list-style-type: none;
  padding-left: 0;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  margin: 0;
}

.navItem {
  display: inline;
  margin: auto 1em auto 1em;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 1em;
  border-bottom: solid rgba(200, 164, 97, 0);
  transition: 0.25s;
}

.navItem:nth-child(2) {
  color: #c8a461;
}

.navItem:hover {
  border-bottom: solid rgba(200, 164, 97, 1);
}

.navItem:nth-child(1) {
  border-bottom: solid rgba(200, 164, 97, 1);
}

#search {
  padding: 0 1em 0 1em;
  padding-top: 1.25em;
  font-weight: bold;
  color: #c8a461;
  transition: 0.25s;
}

#search:hover {
  color: #919191;
}

.navListItem {
  padding: 0.95em;
  background-color: #141414;
  width: 100%;
}

.navList {
  position: absolute;
  opacity: 0;
  list-style-type: none;
  z-index: -1;
  font-weight: bold;
}

.navList:hover {
  opacity: 1;
  z-index: 1;
}

#newsList {
  top: 13.6em;
  left: 1.5em;
}

#newsNav:hover + #newsList {
  opacity: 1;
  transition: 0.3s;
  z-index: 1;
}

#weList {
  top: 13.6em;
  left: 15em;
}

#weNav:hover + #weList {
  opacity: 1;
  transition: 0.3s;
  z-index: 1;
}

#sevenList {
  top: 13.6em;
  left: 24em;
}

#sevenNav:hover + #sevenList {
  opacity: 1;
  transition: 0.3s;
  z-index: 1;
}

#newsAccordion {
  background-color: black;
  margin-top: auto;
}

#accordionList {
  padding: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 0;
}

.accordionItem {
  list-style-type: none;
  padding: 0.5em 0 0.5em 0;
  transition: 0.5s;
  margin-top: 0;
}

.accordionPicture {
  margin-top: -1em;
  overflow: hidden;
  height: 0px;
  padding: 0;
  position: relative;
  display: flex;
}

.accordionPicture:nth-of-type(n + 2) {
  margin-top: 0;
}

.accordionItem:hover {
  cursor: pointer;
}

.accordionNumber {
  color: #c8a461;
  padding: 0 1.5em 0 1.5em;
}

.mainPicture {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 1265px;
  opacity: 0.7;
}

.pictureText {
  z-index: 1;
  position: relative;
  font-size: 2.3em;
  width: 80%;
  bottom: -5em;
  left: 2em;
  font-weight: bold;
  transition: 0.5s;
}

.openTab {
  height: 37vh;
}

.openTab + li {
  color: #919191;
}

.slideText {
  bottom: -1em;
}

#articleArea {
  width: 90%;
  margin: 0 auto 0 auto;
  position: relative;
  height: 92em;
}

#articleHeader {
  font-size: 2.5em;
  padding-left: 2.5em;
  font-weight: bold;
}

.articlePicture {
  width: 100%;
  margin: auto;
  transition: 0s;
}

.showOnScroll {
  opacity: 0;
  transition: ease-in 1s;
}

.isVisible {
  opacity: 1;
  transform: translate(0, 1em);
}

.articleText {
  width: 90%;
  margin: auto;
}

.article {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 50%;
  overflow: hidden;
}

.article:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 10s;
}

.articlePictureDiv {
  display: flex;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

#article2 {
  right: 0;
  top: 17em;
}

#article3 {
  top: 35em;
}

#article4 {
  right: 0;
  top: 49em;
}

.goldType {
  color: #c8a461;
}

.classification {
  padding: 0.5em;
  font-size: 0.8em;
}

.date {
  margin-left: 0.5em;
}

.playfair {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-decoration: underline rgba(180, 180, 180, 0);
  transition: 0.5s;
}

.playfair:hover {
  text-decoration: underline rgba(180, 180, 180, 100);
}

#seeMore {
  position: absolute;
  top: 85em;
  border: 1px solid black;
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 3.5em;
  transition: 0.5s;
}

#seeMore:hover {
  color: white;
  background-color: black;
  border: 1px solid #c8a461;
}

#featuredVideoArea {
  width: 90%;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;
}

#featuredVideoHeader {
  font-size: 2.5em;
  padding-left: 3.1em;
  font-weight: bold;
  margin-bottom: 0;
}

#featuredVideo {
  width: 70%;
}

#featuredVideoTextArea {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto 1em auto;
}

#featuredVideoTextAreaLeft {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  display: inline-block;
  font-size: 1.4em;
}

#rightGold {
  color: #c8a461;
  margin-right: 1em;
}

#featuredVideoButton {
  top: 40em;
  right: 15em;
}

.seeVideo {
  position: absolute;
  border: 1px solid rgb(124, 120, 120);
  padding: 0.5em;
  margin: 0.5em 0.5em 0.5em 3.5em;
  transition: 0.5s;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
  background-color: #141414;
  right: 3em;
  top: 28em;
}

.seeVideo:hover {
  color: #c8a461;
  background-color: black;
  border: 1px solid #c8a461;
}

.seeVideoText {
  margin-left: 1em;
}

#selectionHeader {
  font-size: 2.5em;
  padding-left: 3.1em;
  font-weight: bold;
  background-color: #f9f9f9;
  margin-top: -0.9em;
}

#selectionArea {
  height: 800px;
  width: 100%;
  margin: 7em auto 0 auto;
  padding-top: 5em;
  position: relative;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.selection {
  display: flex;
  height: 51%;
  width: 81%;
  margin: auto;
  position: absolute;
  top: 12em;
  left: 9em;
  transition: 0.75s;
}

.selectionDetails {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.selectionReleaseDate {
  font-size: 0.8em;
}

.selectionMovieTitle {
  font-size: 3em;
  font-weight: bold;
}

.selectionDirector {
  color: #919191;
}

.selectionVideoDiv {
  width: 60%;
}

.selectionVideo {
  width: 100%;
  max-height: 100%;
}

#selection1 {
  opacity: 1;
  z-index: 1;
}

#selection2 {
  opacity: 0;
  z-index: -1;
}

#selection3 {
  opacity: 0;
  z-index: -1;
}

#selection4 {
  opacity: 0;
  z-index: -1;
}

#selectionList {
  position: relative;
  top: 28em;
  left: 3.5em;
  max-width: 90%;
  height: 12em;
}

.selectionItem {
  display: inline;
  margin: 2em;
  border: solid black;
  position: absolute;
  transition: 0.5s;
  height: 117px;
}

.selectionTile {
  max-width: 10.96em;
}

#selectionItem1 {
  z-index: 1;
}

#selectionItem2 {
  left: 21em;
}

#selectionItem3 {
  left: 40em;
}

#selectionItem4 {
  left: 59em;
}

#selectionItem2.holdLeft {
  left: 2.5em;
}

#selectionItem3.holdLeft {
  left: 2.5em;
}

#selectionItem4.holdLeft {
  left: 2.5em;
}

.selectionBorder {
  border: solid #c8a461;
}

#stickyYear {
  position: sticky;
  top: 10em;
  width: 10%;
  padding-left: 3.5em;
  font-weight: bold;
  color: #919191;
}

#scrollArea {
  display: flex;
}

#scrollPhotoArea {
  width: 40%;
}

.scrollPhotoDiv {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scrollPhotoDiv:nth-child(1) {
  z-index: 2;
}

.scrollPhotoDiv:nth-child(2) {
  z-index: 1;
  transform: rotate(5deg);
}

.scrollPhotoDiv:nth-child(3) {
  z-index: 0;
  transform: rotate(-5deg);
}

.scrollPhoto {
  max-width: 500px;
}

#scrollInfoWrapper {
  width: 60%;
}

#scrollInfoArea {
  position: sticky;
  top: 0;
  padding-left: 1em;
}

#scrollInfoHeader {
  font-size: 2em;
  font-weight: bold;
}

#scrollInfoHeaderSubtext {
  margin-top: -1em;
  color: #919191;
}

.scrollInfoRow {
  display: flex;
}

.scrollInfoBox {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-right: 2.3em;
}

.scrollInfoNumber {
  color: #e1e1e1;
}

.number {
  font-size: 4em;
  font-weight: bold;
}

.scrollInfoGold {
  margin-top: -1em;
  margin-bottom: 1.5em;
  color: #c8a461;
  font-weight: bold;
}

#scrollInfoLogoRow {
  width: 12em;
  margin-top: -2.5em;
  margin-left: -2.5em;
}
